<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/webpages">HTML</a>
            </li>
            <li>
                <a href="/styles">CSS</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>Welcome</h2>
        <p>This website attempts to explain some of the web tags, what they do, and how to use them</p>
        <p>We also will look at how to make the page look better using cascading Style Sheets.</p>
    </main>
    <footer>
        <p>&copy; D Benseman 2022</p>
    </footer>
</body>
</html>