<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML and CSS Tags</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>Web Tags</h1>
    </header>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/webpages">HTML</a>
            </li>
            <li>
                <a href="/styles">CSS</a>
            </li>
        </ul>
    </nav>
    <main>
        <h2>CSS</h2>
        <table>
            <tr>
                <th>Attribute</th>
                <th>values</th>
            </tr>
                {% for tag in tags %}
                <tr>
                    <td>{{ tag[0] }}</td>
                    <td>{{ tag[1] }}</td>
                </tr>
                {% endfor %}
        </table>
    </main>
    <footer>
        <p>&copy; D Benseman 2022</p>
    </footer>
</body>
</html>